* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

/* Nav Style end */
header{
    padding: 20px 35px;
    background-color: #191A1B;
}

header h1 {
    font-weight: bold;
    color: white;
    font: 36px;
    margin: 0;
    display: inline;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover {
    color: #E8804C;
}

header nav{
    float: right;
    margin: 7px 0;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
/* Nav Style Start */

/* footer start */
footer{
    background-color: #191A1B;
    width: 100%;
    padding: 40px 35px;
}

footer h2{
    display: inline;
    color: white;
    font-size: 30px;
    margin: 0;
}

footer div{
    float: right;
    line-height: 1.5;
    text-align: right;
}

.social-media a{
    color: white;
    font-size: 35px;
    margin: 0 10px;
    transition: .2s linear;
    text-decoration: none;
}

.social-media a:hover {
    color: #E8804C;
}

section{
    padding: 60px;
}
/* footer end */

/* hero style start*/
.hero{
    height: 600px;
    background-image: url(./images/hero-card.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form{
    background-color: rgb(0,74,173);
    color: white;
    padding: 20px;
    width: 200px;
    border-radius: 25px;
    position: absolute;
    bottom: px;
}

.hero-form2{
    background-color: rgb(0,74,173);
    color: white;
    padding: 20px;
    width: 400px;
    border-radius: 25px;
    position: absolute;
    bottom: 250px;
}

.hero-form button{
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/* hero style end*/

.section-title {
    font-size: 55px;
    color: #024e76;
    margin-right: 35px;
    padding-right: 25px;
    display: inline-block;
    border-right: 4px solid;
    float: left;
    text-align: right;
}

/* about me section */
.about-me {
    background-color: #024E76;
    display: flex;
}

.about-me h3 {
    color: white;
}

.para-text {
    color: #191A1B;
    font-size: 30px;
    line-height: 1.5;
}

.about-me .para-text {
    color: white;
}
/* about me section end */

/* Work Section Start*/
.work h3{
    font-size: 55px;
    color: #024e76;
    text-align: center;
    border-bottom: 4px solid;
    padding-bottom: 10px;
    margin-bottom: 35px;
}

#images{
    width: 100%;
    overflow: hidden;
}

#main-img {
    width: 60%;
    float: left;
    margin: 1% 1%;
    margin-left: 7%;
}

.secondary-img {
    width: 21.8%;
    float: left;
    margin: 1% 1%;
    padding: 0px;
}

img {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}

/* Work Section end */

/* Contact style start */
.contact{
    text-align: center;
    background: #024e76;
    display: flex;
}

.contact h2{
    color: white;
}

.contact-info div{
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
}

.contact-info h3{
    color: white;
    font-size: 32px;
}

.contact-info p, .contact-info address{
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
}

.contact-info a{
    color: #E8804C;
}

.profile img{
    border-radius: 50px;
}
/* Contact style end */

/* mobile responsive */
@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }


}

@media screen and (max-width: 320px) {
    
}